<div class="container">
    <div class="card card-flat">
        <div class="card-header">
            <div class="card-title">Add Application</div>
        </div>
        <div class="card-body">
            <form  [formGroup]="applicationForm" (ngSubmit)="addApplication(applicationForm.value)">
               
                <div class="form-group row">
                    <label class="control-label col-lg-3">Name</label>
                    <div class="col-lg-9">
                        <input type="text" class="form-control"  [ngClass]="{'has-error': Name.invalid  && Name.touched}"placeholder="Name..."  formControlName="Name" >
                      <div *ngIf="Name.invalid && Name.touched">
                              <div *ngIf="Name.errors.required">
                                Name is required
                              </div>
                              <div *ngIf="Name.errors.minlength">
                                Name should be at least 5 charactors.
                              </div>
                      </div>
                     </div>
                    
                </div>
                <div class="form-group row">
                  <label class="control-label col-lg-3">Family Name</label>
                  <div class="col-lg-9">
                      <input type="text" class="form-control"  [ngClass]="{'has-error': FamilyName.invalid  && FamilyName.touched}" placeholder="Family Name..."  formControlName="FamilyName" >
                    <div *ngIf="Name.invalid && Name.touched">
                            <div *ngIf="FamilyName.errors.required">
                              Family Name is required
                            </div>
                            <div *ngIf="FamilyName.errors.minlength">
                              Family Name should be at least 5 charactors.
                            </div>
                    </div>
                   </div>
                  
              </div>
               
                 
             
                <div class="form-group row">
                 <label class="control-label col-lg-3">Address</label>
                 <div class="col-lg-9">
                     <input type="text" class="form-control" [ngClass]="{'has-error': Address.invalid  && Address.touched}" placeholder="Adress..." formControlName="Address">
                     <div *ngIf="Address.invalid && Address.touched">
                       <div *ngIf="Address.errors.minlength">
                         Should should be at least 10 charactors.
                       </div>
                     </div>
                 </div>
               </div>
               <div class="form-group row">
                 <label class="control-label col-lg-3">Country Of Origin</label>
                 <div class="col-lg-9">
                     <input type="text" class="form-control" [ngClass]="{'has-error': CountryOfOrigin.invalid  && CountryOfOrigin.touched}" placeholder="Counrty of Origin..." formControlName="CountryOfOrigin">
                     <div *ngIf="CountryOfOrigin.invalid && CountryOfOrigin.touched">
                      
                      <div *ngIf="CountryOfOrigin.errors.required">
                              country name is required
                      </div>
                      <div *ngIf="CountryOfOrigin.errors.invalidCountryName">
                       invalid country name
                      </div>
                   </div>
                
                  </div>
                
               </div>
               <div class="form-group row">
                 <label class="control-label col-lg-3">Email Adress</label>
                 <div class="col-lg-9">
                     <input type="text" class="form-control" [ngClass]="{'has-error': EmailAddress.invalid  && EmailAddress.touched}"  placeholder="Email Adress..." formControlName="EmailAddress">
                     <div *ngIf="EmailAddress.invalid && EmailAddress.touched">
                      <div *ngIf="EmailAddress.errors.required">Email is required</div>
                      <div *ngIf="EmailAddress.errors.email">Please enter a valid email</div>
                    </div>
                
                
                
                 </div>
                
               </div>
              
               <div class="form-group row"  >
                 <label class="control-label col-lg-3">Age</label>
                 <div class="col-lg-9 " >
                     <input type="text" class="form-control" formControlName="Age" [ngClass]="{'has-error': Age.invalid  && Age.touched}"  placeholder="Enter age..."  >
                     <div *ngIf="Age.invalid  && Age.touched">
                      <div *ngIf="Age.errors.required">
                          Age is required
                      </div>
                      <div *ngIf="Age.errors.pattern">
                        Please type number.
                    </div>
                      <div *ngIf="Age.errors.min">
                          Age should not be less than  20
                      </div>
                      <div *ngIf="Age.errors.max">
                          Age should not be greeter than  60
                      </div>
                      
                  </div>
                  </div>
                 
                  
               
              </div>
            
             <div class="form-group row">
                 <label class="control-label col-lg-3"></label>
                 <div class="form-check form-check-inline">
                     <input id="my-input" class="form-check-input" type="checkbox" name="" value="true" (change) = "toggleHired($event)">
                     <label for="my-input" class="form-check-label">Hired</label>
                 </div>
             </div>
             
              
               <div class="form-group row">
                 <button type="submit" class="btn btn-lg btn-outline-primary" name="btnTitle">Send</button>
                 <!-- <button type="submit" class="btn btn-lg btn-outline-primary" name="btnTitle" [disabled]="!applicationForm.valid" >Send</button> -->
                 &nbsp;
                 <button type="button"  class="btn btn-lg btn-outline-primary" [disabled]="!applicationForm.valid" (click)="open(mymodal)" >reset</button>
   
               </div>
            </form>
        </div>
     
        <ng-template #mymodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Reset Confirmation</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
             Are you sure to reset the form?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="resetForm()">Yes</button>
              <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">No</button>
            </div>
          </ng-template>
    
    
    
    </div>
  </div>
   
    

    
